In [1]:
A = ["a", "b", "c"]
B = [A]
C = [A, B]
C

[['a', 'b', 'c'], [['a', 'b', 'c']]]

In [5]:
# 일반변수 
name = "홍길동"
age = 21
name = "1111"
name = 1234
print(name, age)

1234 21

In [3]:
### 여러개의 값을 가지는 변수
list_v = []
dict_v = {}
tuple_v = ()

In [13]:
### 리스트에 값을 추가하기
list_v = [1, 2]
list_v.append("홍길동1")
list_v.append("홍길동2")
list_v

[1, 2, '홍길동1', '홍길동2']

In [14]:
### 인덱스 번호를 이용하는 방식 -for문 작성
for i in range(0, len(list_v), 1) :
    print(list_v[i])

1
2
홍길동1
홍길동2

In [15]:
### 값을 이용한 반복 처리
for v in list_v:
    print(v)

1
2
홍길동1
홍길동2

In [25]:
### 같은 key가 있으면 수정, 없으면 추가
# - key를 줄테니, 값을 다오..
dict_v = {"홍길동" : 39, "2" : "홍길동2"}
dict_v["홍길동"] = 28
dict_v["홍길동2"] = 30
print(dict_v)

{'홍길동': 28, '2': '홍길동2', '홍길동2': 30}

In [27]:
print(dict_v.keys())

dict_keys(['홍길동', '2', '홍길동2'])

In [28]:
len(dict_v.keys())

3

In [39]:
### 인덱스 번호를 이용하는 방식
#for i in range(0, len(dict_v.keys()), 1) :
#    print(dict_v.keys()[0])

### 값을 이용하는 방식으로 처리
for k in dict_v.keys() :
    print(k, "=", dict_v[k])
    print(k, "=", dict_v.get(k))

홍길동 = 28
홍길동 = 28
2 = 홍길동2
2 = 홍길동2
홍길동2 = 30
홍길동2 = 30

In [41]:
dict_v.get("3")

In [45]:
dict_v = {'name': '홍길동',
 'age': 21,
 'list_v': [1, '홍기동', '홍길동3', '홍길동3', '홍길동3'],
 'add': '세종'}

for k in dict_v:
    if k == "list_v":
        #print(dict_v[k])
        for v in dict_v[k] :
            print(v)
### key가 list_v인 리스트 안의 값들을 출력해 주세요..
"""
1
홍기동
홍길동3
홍길동3
홍길동3
"""

1
홍기동
홍길동3
홍길동3
홍길동3

'\n1\n홍기동\n홍길동3\n홍길동3\n홍길동3\n'

In [50]:
list_v2 = [{1: '홍길동1', 2: '홍길동2'}, 
             {1: '이순신1', 2: '이순신2'}, 
             {1: '강감찬1', 2: '강감찬2'}]
list_v2

for d in list_v2 :
    # print(d)
    for k in d :
        print("key : {} / value : {}".format(k, d[k]))

key : 1 / value : 홍길동1
key : 2 / value : 홍길동2
key : 1 / value : 이순신1
key : 2 / value : 이순신2
key : 1 / value : 강감찬1
key : 2 / value : 강감찬2

In [47]:
"""
key :  1  / values :  홍길동1
key :  2  / values :  홍길동2
key :  1  / values :  이순신1
key :  2  / values :  이순신2
key :  1  / values :  강감찬1
key :  2  / values :  강감찬2
"""

'\nkey :  1  / values :  홍길동1\nkey :  2  / values :  홍길동2\nkey :  1  / values :  이순신1\nkey :  2  / values :  이순신2\nkey :  1  / values :  강감찬1\nkey :  2  / values :  강감찬2\n'

In [ ]:
# "강감찬1"값이 있는 key와 value값만 출력해 주세요.
# -> 답 : key :  1  / values :  강감찬1

### "강감찬1"이라는 값이 포함되어 있는 부분의 
#    딕셔너리의 전체 key와 value를 출력하기.  
# -> 답: 
  # key :  1  / values :  강감찬1
  # key :  2  / values :  강감찬2