### Data Wrangling Test

In [1]:
import warnings
warnings.filterwarnings('ignore')

### 1. 202302_202302_주민등록인구및세대현황_월간.csv를 가지고 와서 'data'라는 이름의 데이터 프레임으로 작성하고 5개만 확인합니다.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('202302_202302_주민등록인구및세대현황_월간.csv', encoding='cp949')

In [4]:
# 데이터 확인
data.head()

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
0,서울특별시 (1100000000),"9,427,583","4,457,982",2.11,"4,567,957","4,859,626",0.94
1,서울특별시 종로구 (1111000000),"141,433","72,773",1.94,"68,399","73,034",0.94
2,서울특별시 종로구 청운효자동(1111051500),"11,605","5,130",2.26,"5,325","6,280",0.85
3,서울특별시 종로구 사직동(1111053000),"9,120","4,593",1.99,"4,060","5,060",0.80
4,서울특별시 종로구 삼청동(1111054000),"2,322","1,143",2.03,"1,104","1,218",0.91

### 2. '행정구역'컬럼을 행정구역명과 행정기관코드로 분리하여 'data' 데이터 프레임에 '행정구역' 컬럼에 행정구역명만 저장하고 5개의 데이터만 확인합니다.

In [5]:
# 원래 데이터 확인하기
data['행정구역']

0                서울특별시  (1100000000)
1             서울특별시 종로구 (1111000000)
2        서울특별시 종로구 청운효자동(1111051500)
3          서울특별시 종로구 사직동(1111053000)
4          서울특별시 종로구 삼청동(1111054000)
                    ...
3867    제주특별자치도 서귀포시 서홍동(5013058000)
3868    제주특별자치도 서귀포시 대륜동(5013059000)
3869    제주특별자치도 서귀포시 대천동(5013060000)
3870    제주특별자치도 서귀포시 중문동(5013061000)
3871    제주특별자치도 서귀포시 예래동(5013062000)
Name: 행정구역, Length: 3872, dtype: object

In [6]:
# '행정구역'컬럼을 행정구역명과 행정기관코드로 분리
data['행정구역'].str.split('(')

0                [서울특별시  , 1100000000)]
1             [서울특별시 종로구 , 1111000000)]
2        [서울특별시 종로구 청운효자동, 1111051500)]
3          [서울특별시 종로구 사직동, 1111053000)]
4          [서울특별시 종로구 삼청동, 1111054000)]
                     ...
3867    [제주특별자치도 서귀포시 서홍동, 5013058000)]
3868    [제주특별자치도 서귀포시 대륜동, 5013059000)]
3869    [제주특별자치도 서귀포시 대천동, 5013060000)]
3870    [제주특별자치도 서귀포시 중문동, 5013061000)]
3871    [제주특별자치도 서귀포시 예래동, 5013062000)]
Name: 행정구역, Length: 3872, dtype: object

In [7]:
# 행정구역명만 가져오기
data['행정구역'].str.split('(').str[0].str.strip()
# .str.strip()으로 공백 제거

0                  서울특별시
1              서울특별시 종로구
2        서울특별시 종로구 청운효자동
3          서울특별시 종로구 사직동
4          서울특별시 종로구 삼청동
              ...
3867    제주특별자치도 서귀포시 서홍동
3868    제주특별자치도 서귀포시 대륜동
3869    제주특별자치도 서귀포시 대천동
3870    제주특별자치도 서귀포시 중문동
3871    제주특별자치도 서귀포시 예래동
Name: 행정구역, Length: 3872, dtype: object

In [10]:
# 분리한 결과를 '행정구역'컬럼에 저장하기
# 정답 코드
data['행정구역'] = data['행정구역'].str.split('(').str[0].str.strip()

In [11]:
# 결과 확인하기
data['행정구역']

0                  서울특별시
1              서울특별시 종로구
2        서울특별시 종로구 청운효자동
3          서울특별시 종로구 사직동
4          서울특별시 종로구 삼청동
              ...
3867    제주특별자치도 서귀포시 서홍동
3868    제주특별자치도 서귀포시 대륜동
3869    제주특별자치도 서귀포시 대천동
3870    제주특별자치도 서귀포시 중문동
3871    제주특별자치도 서귀포시 예래동
Name: 행정구역, Length: 3872, dtype: object

### 3. 'data' 데이터 프레임의 컬럼명을 행정구역, 총인구수, 세대수, 세대당인구, 남자, 여자, 남녀비율 로 변경하고 'data' 데이터 프레임의 정보를 확인합니다.

In [ ]:
# 컬럼명 변경하는 방법
# 1. data.columns = []
# 2. data.rename(columns={'기존이름':'변경할이름'}, inplace=True)

In [ ]:
# 여기에서는 컬럼명 여러 개를 바꿔야 하므로
# 코드가 더 간단한 1번 방법을 사용하는게 좋다.

In [ ]:
# 기존 컬럼 확인하기
# data.columns 또는 data.info() 로 확인할 수 있다.

In [ ]:
data.columns

In [ ]:
data.info()

In [ ]:
# 1번 방법

In [ ]:
data.columns = ['행정구역','총인구수','세대수','세대당인구','남자','여자','남녀비율']

In [ ]:
data.info()

In [ ]:
# 2번 방법

In [ ]:
data.rename(columns={'2023년02월_총인구수':'총인구수'}, inplace=True)
data.rename(columns={'2023년02월_세대수':'세대수'}, inplace=True)
data.rename(columns={'2023년02월_세대당 인구':'세대당인구'}, inplace=True)
data.rename(columns={'2023년02월_남자 인구수':'남자'}, inplace=True)
data.rename(columns={'2023년02월_여자 인구수':'여자'}, inplace=True)
data.rename(columns={'2023년02월_남여 비율':'남녀비율'}, inplace=True)

In [ ]:
# 컬럼명 잘 변경됐는지 확인하기
# data.columns 또는 data.info() 로 확인해보기

In [ ]:
data.columns

In [ ]:
data.info()

### 4. 남녀비율 컬럼을 제거하고 'data' 데이터프레임 정보를 확인합니다.

In [ ]:
# 남녀비율 컬럼 제거하기
data.drop(columns='남녀비율', inplace=True)

In [ ]:
# 데이터프레임 정보 확인하기
data.info()

### 5. 행정구역 컬럼의 '(' ')'를 제거하고 시,구,동 컬럼을 만들어 분리해 넣고 부산 지역의 값만 선택해서 'busan' 데이터 프레임에 저장합니다.

In [ ]:
# 정답 코드

In [ ]:
data['시'] = data['행정구역'].str.split().str[0]
data['구'] = data['행정구역'].str.split().str[1]
data['동'] = data['행정구역'].str.split().str[2]

In [12]:
# 결과 확인하기
data.head()

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
0,서울특별시,"9,427,583","4,457,982",2.11,"4,567,957","4,859,626",0.94
1,서울특별시 종로구,"141,433","72,773",1.94,"68,399","73,034",0.94
2,서울특별시 종로구 청운효자동,"11,605","5,130",2.26,"5,325","6,280",0.85
3,서울특별시 종로구 사직동,"9,120","4,593",1.99,"4,060","5,060",0.80
4,서울특별시 종로구 삼청동,"2,322","1,143",2.03,"1,104","1,218",0.91

In [ ]:
# 내 코드는 split(' ')을 사용했지만 선생님은 split()을 사용하셨다.

In [ ]:
# split()과 split(' ')는 여기에서는 실행 결과가 같지만
# 두 가지는 차이점이 있다.

In [ ]:
# split()는 공백이 1개이든 2개이든 n개이든
# 공백의 개수와 상관없이 무조건 1개로 보고 처리하지만

# split(' ')은 공백 1개, 1개를 각각의 공백으로 따로따로 처리한다.

In [ ]:
# 차이점을 잘 염두해두고 상황에 맞게 잘 사용하자.

In [ ]:
# 내 코드

In [ ]:
# 선생님 코드와 달리 나는 행정구역 컬럼 옆(오른쪽)에
# 시,구,동 컬럼을 추가하고 싶어서
# data.insert()를 활용하였다.

# data.insert() -> 위치를 지정하여 컬럼을 추가할 수 있다.

In [ ]:
data.insert(1,'시',data['행정구역'].str.split(' ').str[0])
data.insert(2,'구',data['행정구역'].str.split(' ').str[1])
data.insert(3,'동',data['행정구역'].str.split(' ').str[2])

In [ ]:
# 결과 확인하기
data.head()

In [ ]:
# 부산 지역의 값만 선택하여 'busan' 데이터 프레임에 저장하기

In [ ]:
busan = data[data['시'] == '부산광역시']

In [ ]:
# 결과 확인하기
busan

### 6. 'busan' 데이터 프레임에 NAN 값이 있다면 해당 행을 제거하고, 기존 인덱스 값은 제거하고 새로 인덱스를 부여하고 내용을 확인합니다.

In [ ]:
busan.dropna(inplace=True)
busan.reset_index(inplace=True, drop=True)

In [ ]:
# 결과 확인하기
busan

### 7. 총인구수, 남자, 여자 컬럼의 데이터 타입을 정수형으로 변경하고 변경 내용을 확인합니다.

In [ ]:
# 원래 데이터 타입 확인하기
# .info() 또는 .dtypes로 확인할 수 있다. 
busan.dtypes

In [ ]:
# 정수형으로 변경하기
# 숫자 사이에 있는 콤마(,)를 제거하고 int로 변경해준다.
# 콤마(,) 제거하는 것 제발 잊지 말자...

In [ ]:
busan['총인구수'] = busan['총인구수'].str.replace(',','').astype(int)
busan['남자'] = busan['남자'].str.replace(',','').astype(int)
busan['여자'] = busan['여자'].str.replace(',','').astype(int)

In [ ]:
# 변경 결과 확인하기
busan.info()

In [ ]:
# 데이터 타입을 정수형으로 변경하고 싶을 때
# pandas의 pd.to_numeric()을 활용하는 방법도 있다.

In [ ]:
# 여기서는 str.replace()랑 한 줄에 같이 사용하기 좋고 코드가 좀 더 간단하기 때문에 
# 선생님이 astype(int)를 사용하신 것 같다.

### 8. 구별로 부산 인구를 차트로 표시합니다. (인구순 5개만)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# 정답 코드

In [ ]:
busan_g = busan.groupby(['구'])['총인구수'].sum().sort_values(ascending=False).head(5).reset_index()
plt.figure(figsize=(10,4))
sns.barplot(data=busan_g, y='구', x='총인구수')
plt.show()

In [ ]:
# 내 코드

In [ ]:
b1 = busan.groupby('구')['총인구수'].sum().to_frame().reset_index()
b1

In [ ]:
sorted_b1 = b1.sort_values('총인구수', ascending=False)[0:5]
sorted_b1

In [ ]:
sorted_b1.plot.bar(x='구', rot=0, xlabel='부산광역시')

### 9. 동별로 부산 인구를 차트로 표시합니다. (인구순 5개만)

In [ ]:
# 정답 코드

In [ ]:
busan_g1 = busan.sort_values(by='총인구수', ascending=False).head(5)
plt.figure(figsize=(10,4))
sns.barplot(data=busan_g1, y='동', x='총인구수')
plt.show()

In [ ]:
# 내 코드

In [ ]:
b2 = busan.groupby('동')['총인구수'].sum().to_frame().reset_index()
b2

In [ ]:
sorted_b2 = b2.sort_values('총인구수', ascending=False)[0:5]
sorted_b2

In [ ]:
sorted_b2.plot.bar(x='동', rot=0, xlabel='부산광역시')

### 10. Choropleth, geojson 등을 이용하여 동별 인구수를 색상별로 지도에 나타내시오

In [ ]:
# 정답 코드

In [ ]:
import json, folium

In [ ]:
jsonfile = open('HangJeongDong_ver20230101.geojson','r',encoding='utf8')
jsondata = json.load(jsonfile)
# jsondata
jsondata_busan = {'type':'FeatureCollection'}
jsondata_pick = []
jsondata_dong = []
for item in jsondata['features']:
    if item['properties']['sidonm'] == "부산광역시":
        # print(item)
        dong = item['properties']['adm_nm'].split()[-1].strip()
        # print(dong)
        jsondata_dong.append(dong)
        item['id'] = dong
        jsondata_pick.append(item)
jsondata_busan['features'] = jsondata_pick

In [ ]:
# jsondata_busan

In [ ]:
busan.columns

In [ ]:
map = folium.Map((35.1954434,129.0750953),zoom_start=10)
folium.Choropleth(jsondata_busan,
                  data=busan,
                  columns=['동','총인구수'],
                  key_on='feature.id',
                  bins=10,
                  fill_color='YlOrRd',
                  legend_name='부산시 동별 인구수').add_to(map)
map

In [ ]:
df_dong = sorted(busan['동'].to_list())
json_dong = sorted(jsondata_dong)
print(len(df_dong),len(json_dong))
for i ,item in enumerate(zip(df_dong,json_dong)):
    if item[0] != item[1]:
        print(i,' ',item)

In [ ]:
jsonfile = open('HangJeongDong_ver20230101.geojson','r',encoding='utf8')
jsondata = json.load(jsonfile)
# jsondata
jsondata_busan = {'type': 'FeatureCollection'}
jsondata_pick = []
jsondata_dong = []
for item in jsondata['features']:
    if item['properties']['sidonm'] == "부산광역시":
        # print(item)
        dong = item['properties']['adm_nm'].split()[-1].strip()
        if dong == '가야제1동':
            dong = '가야1동'
        # print(dong)
        jsondata_dong.append(dong)
        item['id'] = dong
        jsondata_pick.append(item)
jsondata_busan['features'] = jsondata_pick

In [ ]:
df_dong = sorted(busan['동'].to_list())
json_dong = sorted(jsondata_dong)
print(len(df_dong),len(json_dong))
for i ,item in enumerate(zip(df_dong,json_dong)):
    if item[0] != item[1]:
        print(i,' ',item)

In [ ]:
busan['동'] = busan['동'].str.replace('제','')

In [ ]:
df_dong = sorted(busan['동'].to_list())
json_dong = sorted(jsondata_dong)
print(len(df_dong),len(json_dong))
for i ,item in enumerate(zip(df_dong,json_dong)):
    if item[0] != item[1]:
        print(i,' ',item)

In [ ]:
busan['동'] = busan['동'].replace(['거1동','거2동','거3동','거4동'],['거제1동','거제2동','거제3동','거제4동'])

In [ ]:
df_dong = sorted(busan['동'].to_list())
json_dong = sorted(jsondata_dong)
print(len(df_dong),len(json_dong))
for i ,item in enumerate(zip(df_dong,json_dong)):
    if item[0] != item[1]:
        print(i,' ',item)

In [ ]:
# jsondata_busan

In [ ]:
map = folium.Map((35.1954434,129.0750953),zoom_start=10)
cho = folium.Choropleth(jsondata_busan,
                  data=busan,
                  columns=['동','총인구수'],
                  key_on='feature.id',
                  bins=10,
                  fill_color='YlOrRd',
                  legend_name='부산시 동별 인구수').add_to(map)
cho.geojson.add_child(
    folium.features.GeoJsonTooltip(['adm_nm','OBJECTID'],labels=False)
)
map