In [ ]:
# https://finance.naver.com/marketindex/exchangeList.naver

In [ ]:
# https://finance.naver.com/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://finance.naver.com/marketindex/exchangeList.naver'
r = requests.get(url).text
soup = BeautifulSoup(r, 'lxml')
name = []
price = []

# data = soup.select('td.tit a')
data = soup.select('td.tit > a')
# print(data)
for item in data:
    print(item.string.strip())

미국 USD
유럽연합 EUR
일본 JPY (100엔)
중국 CNY
홍콩 HKD
대만 TWD
영국 GBP
오만 OMR
캐나다 CAD
스위스 CHF
스웨덴 SEK
호주 AUD
뉴질랜드 NZD
체코 CZK
칠레 CLP
튀르키예 TRY
몽골 MNT
이스라엘 ILS
덴마크 DKK
노르웨이 NOK
사우디아라비아 SAR
쿠웨이트 KWD
바레인 BHD
아랍에미리트 AED
요르단 JOD
이집트 EGP
태국 THB
싱가포르 SGD
말레이시아 MYR
인도네시아 IDR 100
카타르 QAR
카자흐스탄 KZT
브루나이 BND
인도 INR
파키스탄 PKR
방글라데시 BDT
필리핀 PHP
멕시코 MXN
브라질 BRL
베트남 VND 100
남아프리카 공화국 ZAR
러시아 RUB
헝가리 HUF
폴란드 PLN
스리랑카 LKR
알제리 DZD
케냐 KES
콜롬비아 COP
탄자니아 TZS
네팔 NPR
루마니아 RON
리비아 LYD
마카오 MOP
미얀마 MMK
에티오피아 ETB
우즈베키스탄 UZS
캄보디아 KHR
피지 FJD

In [3]:
url = 'https://finance.naver.com/marketindex/exchangeList.naver'
r = requests.get(url).text
soup = BeautifulSoup(r, 'lxml')
name = []
price = []

# data = soup.select('td.tit a')
data = soup.select('td.tit > a')
# print(data)
for item in data:
    # print(item.string.strip())
    name.append(item.string.strip())

data = soup.select('td.sale')
print(data)

[<td class="sale">1,316.50</td>, <td class="sale">1,428.67</td>, <td class="sale">987.36</td>, <td class="sale">191.03</td>, <td class="sale">167.71</td>, <td class="sale">43.01</td>, <td class="sale">1,626.73</td>, <td class="sale">3,419.66</td>, <td class="sale">976.27</td>, <td class="sale">1,435.66</td>, <td class="sale">126.94</td>, <td class="sale">884.23</td>, <td class="sale">822.62</td>, <td class="sale">60.94</td>, <td class="sale">1.66</td>, <td class="sale">68.56</td>, <td class="sale">0.37</td>, <td class="sale">365.92</td>, <td class="sale">191.77</td>, <td class="sale">126.72</td>, <td class="sale">350.96</td>, <td class="sale">4,288.83</td>, <td class="sale">3,491.95</td>, <td class="sale">358.46</td>, <td class="sale">1,855.92</td>, <td class="sale">42.54</td>, <td class="sale">38.30</td>, <td class="sale">988.99</td>, <td class="sale">297.92</td>, <td class="sale">8.81</td>, <td class="sale">360.20</td>, <td class="sale">2.91</td>, <td class="sale">988.99</td>, <td class="sale">15.99</td>, <td class="sale">4.62</td>, <td class="sale">12.50</td>, <td class="sale">24.01</td>, <td class="sale">73.21</td>, <td class="sale">259.99</td>, <td class="sale">5.61</td>, <td class="sale">73.59</td>, <td class="sale">16.92</td>, <td class="sale">3.78</td>, <td class="sale">305.62</td>, <td class="sale">4.09</td>, <td class="sale">9.69</td>, <td class="sale">9.92</td>, <td class="sale">0.28</td>, <td class="sale">0.56</td>, <td class="sale">9.99</td>, <td class="sale">289.06</td>, <td class="sale">275.41</td>, <td class="sale">162.83</td>, <td class="sale">0.63</td>, <td class="sale">24.20</td>, <td class="sale">0.12</td>, <td class="sale">0.32</td>, <td class="sale">596.24</td>]

In [4]:
url = 'https://finance.naver.com/marketindex/exchangeList.naver'
r = requests.get(url).text
soup = BeautifulSoup(r, 'lxml')
name = []
price = []

# data = soup.select('td.tit a')
data = soup.select('td.tit > a')
# print(data)
for item in data:
    # print(item.string.strip())
    name.append(item.string.strip())

data = soup.select('td.sale')
# print(data)
for item in data:
    print(item.string)

1,317.00
1,429.21
987.07
191.05
167.77
43.03
1,625.44
3,420.96
977.29
1,436.83
126.93
883.97
822.80
60.95
1.66
68.58
0.37
365.85
191.85
126.71
351.09
4,290.18
3,493.37
358.60
1,856.63
42.55
38.28
989.37
298.03
8.82
358.92
2.91
989.37
15.99
4.62
12.51
24.03
73.19
260.08
5.62
73.62
16.91
3.77
305.71
4.09
9.69
9.92
0.28
0.56
10.00
289.19
275.51
162.89
0.63
24.20
0.12
0.32
596.34

In [5]:
url = 'https://finance.naver.com/marketindex/exchangeList.naver'
r = requests.get(url).text
soup = BeautifulSoup(r, 'lxml')
name = []
price = []

# data = soup.select('td.tit a')
data = soup.select('td.tit > a')
# print(data)
for item in data:
    # print(item.string.strip())
    name.append(item.string.strip())

data = soup.select('td.sale')
# print(data)
for item in data:
    # print(item.string)
    price.append(float(item.string.replace(',', '')))
print(price)

[1317.0, 1429.21, 987.07, 191.05, 167.77, 43.03, 1625.44, 3420.96, 977.29, 1436.83, 126.93, 883.97, 822.8, 60.95, 1.66, 68.58, 0.37, 365.85, 191.85, 126.71, 351.09, 4290.18, 3493.37, 358.6, 1856.63, 42.55, 38.28, 989.37, 298.03, 8.82, 358.92, 2.91, 989.37, 15.99, 4.62, 12.51, 24.03, 73.19, 260.08, 5.62, 73.62, 16.91, 3.77, 305.71, 4.09, 9.69, 9.92, 0.28, 0.56, 10.0, 289.19, 275.51, 162.89, 0.63, 24.2, 0.12, 0.32, 596.34]

In [6]:
url = 'https://finance.naver.com/marketindex/exchangeList.naver'
r = requests.get(url).text
soup = BeautifulSoup(r, 'lxml')
name = []
price = []

# data = soup.select('td.tit a')
data = soup.select('td.tit > a')
# print(data)
for item in data:
    # print(item.string.strip())
    name.append(item.string.strip())

data = soup.select('td.sale')
# print(data)
for item in data:
    # print(item.string)
    price.append(float(item.string.replace(',', '')))
# print(price)

print(len(name), len(price))
items = list(zip(name, price))
print(items)

58 58
[('미국 USD', 1316.5), ('유럽연합 EUR', 1428.67), ('일본 JPY (100엔)', 987.36), ('중국 CNY', 191.03), ('홍콩 HKD', 167.71), ('대만 TWD', 43.01), ('영국 GBP', 1626.73), ('오만 OMR', 3419.66), ('캐나다 CAD', 976.27), ('스위스 CHF', 1435.66), ('스웨덴 SEK', 126.94), ('호주 AUD', 884.23), ('뉴질랜드 NZD', 822.62), ('체코 CZK', 60.94), ('칠레 CLP', 1.66), ('튀르키예 TRY', 68.56), ('몽골 MNT', 0.37), ('이스라엘 ILS', 365.92), ('덴마크 DKK', 191.77), ('노르웨이 NOK', 126.72), ('사우디아라비아 SAR', 350.96), ('쿠웨이트 KWD', 4288.83), ('바레인 BHD', 3491.95), ('아랍에미리트 AED', 358.46), ('요르단 JOD', 1855.92), ('이집트 EGP', 42.54), ('태국 THB', 38.3), ('싱가포르 SGD', 988.99), ('말레이시아 MYR', 297.92), ('인도네시아 IDR 100', 8.81), ('카타르 QAR', 360.2), ('카자흐스탄 KZT', 2.91), ('브루나이 BND', 988.99), ('인도 INR', 15.99), ('파키스탄 PKR', 4.62), ('방글라데시 BDT', 12.5), ('필리핀 PHP', 24.01), ('멕시코 MXN', 73.21), ('브라질 BRL', 259.99), ('베트남 VND 100', 5.61), ('남아프리카 공화국 ZAR', 73.59), ('러시아 RUB', 16.92), ('헝가리 HUF', 3.78), ('폴란드 PLN', 305.62), ('스리랑카 LKR', 4.09), ('알제리 DZD', 9.69), ('케냐 KES', 9.92), ('콜롬비아 COP', 0.28), ('탄자니아 TZS', 0.56), ('네팔 NPR', 9.99), ('루마니아 RON', 289.06), ('리비아 LYD', 275.41), ('마카오 MOP', 162.83), ('미얀마 MMK', 0.63), ('에티오피아 ETB', 24.2), ('우즈베키스탄 UZS', 0.12), ('캄보디아 KHR', 0.32), ('피지 FJD', 596.24)]